<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daily.mapper.UserMapper">
	<!-- Result Map -->
	<resultMap id="baseResultMap" type="com.daily.model.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="locked" property="locked"/>
	</resultMap>

    <!-- Role Result Map -->
    <resultMap id="roleResultMap" type="com.daily.model.Role">
        <result column="id" property="id"/>
        <result column="role" property="role"/>
        <result column="description" property="description"/>
    </resultMap>

    <!-- Permission Result Map -->
    <resultMap id="permissionResultMap" type="com.daily.model.Permission">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="permission" property="permission"/>
    </resultMap>

	<!-- table name -->
	<sql id="table_name">
		user
	</sql>
	<!-- property table all fields -->
    <sql id="base_column_list">
			id,
			username,
			password,
			salt,
			locked
    </sql>
    <sql id="update_clause">
        <trim suffixOverrides=",">
            <if test="username != null and username !=''">
                username=#{username},
            </if>
            <if test="password != null and password !=''">
                password=#{password},
            </if>
            <if test="salt != null and salt !=''">
                salt=#{salt},
            </if>
            <if test="locked != null and locked !=''">
                locked=#{locked},
            </if>
        </trim>
    </sql>
    <sql id="query_where_clause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null and id !=''">
                and id=#{id}
            </if>
            <if test="username != null and username !=''">
                and username=#{username}
            </if>
            <if test="password != null and password !=''">
                and password=#{password}
            </if>
            <if test="salt != null and salt !=''">
                and salt=#{salt}
            </if>
            <if test="locked != null and locked !=''">
                and locked=#{locked}
            </if>
        </trim>
    </sql>
    <insert id="save" parameterType="Object" >
        insert into 
        <include refid="table_name" />
        (
			username,
			password,
			salt,
			locked
        )
        values
        (
			#{username},
			#{password},
			#{salt},
			#{locked}
        )
    </insert>

    <select id="queryById" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="base_column_list" />
        from <include refid="table_name" /> where id = #{id}
    </select>

    <select id="findByUsername" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="base_column_list" />
        from <include refid="table_name" /> where username = #{username}
    </select>

    <select id="findRoles" resultMap="roleResultMap" parameterType="Object">
        select
          r.id as id, r.role as role, r.description as description
        from
          user u, role r, user_role ur
        where ur.userid = u.id
          AND ur.roleid = r.id
          AND u.username = #{username}
    </select>

    <select id="findPermissions" resultMap="permissionResultMap" parameterType="Object">
        select
          p.id as id, p.name as name, p.type as type, p.url as url, p.permission as permission
        from
          user u, role r, user_role ur, permission p, role_permission rp
        where
         u.id = ur.userid
         and r.id = ur.roleid
         and ro.roleid = r.id
         and rp.permissionid = p.id
         and u.username = #{username}
    </select>

    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1) from 
        <include refid="table_name" />
        <include refid="query_where_clause" />
    </select>

    <select id="queryByList" resultMap="baseResultMap"	parameterType="Object">
        select
        <include refid="base_column_list"/>
        from 
        <include refid="table_name" />
        <include refid="query_where_clause"/>
        order by id desc
		${pageQueryCondition}
    </select>
	
    <select id="queryByUser" resultMap="baseResultMap"	parameterType="Object">
        select
        <include refid="base_column_list"/>
        from 
        <include refid="table_name" />
        <include refid="query_where_clause"/>
        order by id desc
    </select>

    <update id="update" parameterType="Object" >
        update <include refid="table_name" /> set <include refid="update_clause" /> where id = #{id}
    </update>

    <update id="updateResult" parameterType="Object" >
        update <include refid="table_name" /> set <include refid="update_clause" /> where id = #{id}
    </update>

	<delete id="deleteById" parameterType="Object">
		delete from <include refid="table_name" /> where id = #{id}
	</delete>

</mapper>   
